/*@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&family=Major+Mono+Display;MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #006699;
    background: rgba(136, 194, 216, 0.5);
    /*background: linear-gradient(176deg, rgba(255, 253, 248, 1) 0%, rgba(215, 210, 185, 1) 100%);*/
}

h1, h2, h3 {
    font-family: 'MuseoModerno', cursive;
}

h1 {
    font-size: 6vw;
    /*font-style: italic;*/
    line-height: 0.9em;

}

button {
    font-size: 24px;
    background: rgba(156, 199, 84, 1.000);
    color: #fff;
    border: 4px dashed #006699;

}

button:hover {
    background: #fff;
    color: #006699;
}

input, textarea {
    border-radius: 0 !important;
    border: 4px dashed #006699 !important;
}


.home select {
    border-radius: 0 !important;
    border: 4px dashed #006699 !important;
}

.form-control {
    border-radius: 0 !important;
    border: 4px dashed #006699 !important;
}


.custom-file-input, .custom-file-label, .note-editor.note-frame {
    border-radius: 0 !important;
    border: 4px dashed #006699 !important;
}


.note-toolbar, .note-statusbar, .note-resizebar, .note-btn-group .note-btn {
    background: rgba(154, 97, 20, .05);
}


a {
    color: #006699;
    font-weight: 900;
    text-decoration: underline;
    /*text-decoration-style: wavy;*/
}

a:hover {
    text-decoration-style: wavy;

    /*text-transform: uppercase;*/
}

.green {
    color: #9cc754;
}

.clock {
    background: #006699;
    color: #fff;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 4px dashed #006699 !important;
    outline: 0;
    border-radius: 0 !important;


}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 4px dashed #006699 !important;
    outline: 0;
    border-radius: 0 !important;
    background: #006699 !important;
    color: #fff !important;
}

.tag {
    background: #006699 !important;
    color: #fff !important;
    font-size: 85%;
    display: inline-block;
    /*float: right;*/
    padding: 0.2em 0.4em;
    margin: 0.2em;
}

.tag:first-child {
    margin-left: 0px;
}

ul.menu, ul.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-container .select2-selection--multiple {
    min-height: 62px !important;;
}
