{% extends "core/base.html" %}

{% block container %}

    <div class="container-fluid category  mt-5 login-page">
        <div class="container forms">
            <div class="row ">
                <div class="col-12 col-md-6">
                    {% block title %}<h1>Welcome!</h1>{% endblock %}

                    {% if form.errors %}
                        <p>There's a problem with your email or password, please try once more.</p>
                    {% endif %}



                    <form method="post" action="{% url 'login' %}" class="my-5 py-5">
                        {% csrf_token %}

                            <div  class="row mb-3">
                                <div class="col-12 col-md-6">Email</div>
                                <div class="col-12 col-md-6">{{ form.username }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-6">Password</div>
                                <div class="col-12 col-md-6">{{ form.password }}</div>
                            </div>
                            <div class="row">
                                 <div class="col-12 col-md-6"></div>
                                <div class="col-12 col-md-6">
                                    <input type="submit" value="login" class="loginbutton col-12 "></div>
                            </div>
                        <div class="row">

                                <div class="col-12-col-md-6 mt-5"><a href="{% url 'password_reset' %}">Don't know your password?</a></div>
                                <div class="col-12-col-md-6 my-4"> <a href="{% url 'home' %}">Create a new account on the home page.</a></div>
                        </div>

                                <input type="hidden" name="next" value="{{ next }}">


                    </form>

                    {# Assumes you setup the password_reset view in your URLconf #}

                </div>
                <div class="col-12 col-md-6">



                </div>
            </div>
        </div>
    </div>
{% endblock %}