{% extends "base.html" %}
{% load i18n static %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block maincontent %}
    <div class="container-fluid category  mt-5 login-page">
        <div class="container forms">
            <div class="row">
                <div class=" forms mt-5 pt-5">

                    <p>Te hemos enviado por email las instrucciones para restablecer la contraseña. Deberías recibirlas
                        en breve.</p><p>
                        Si continúan los problemas por favor contáctate a través de <a
                                href="mailto:contenidos@fundacionteatroamil.cl">contenidos@fundacionteatroamil.cl</a>
                    </p>


                </div>
                <div class="my-5">&nbsp;</div>
                <div class="my-5">&nbsp;</div>
                <div class="my-5">&nbsp;</div>
            </div>
        </div>
    </div>
{% endblock %}
