{% extends "base.html" %}
{% load i18n static %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block maincontent %}

    <div class="container-fluid category  mt-5 login-page">
        <div class="container forms">
            <div class="row">
                {% if validlink %}

                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                    <form method="post">{% csrf_token %}
                        <fieldset class="">
                            <table>
                                <tr>
                                    <td>{% trans 'New password:' %}</td>
                                    <td>                                {{ form.new_password1 }} {{ form.new_password1.errors }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans 'Confirm password:' %}</td>
                                    <td> {{ form.new_password2 }} {{ form.new_password2.errors }}
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td>                            <input type="submit" value="{% trans 'Change my password' %}">
</td>
                                </tr>
                            </table>

                        </fieldset>
                    </form>

                {% else %}

                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
