{% extends "base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block maincontent %}
<div class="container forms">

<form method="post">{% csrf_token %}
<fieldset class="module aligned mt-5 login-page">
    <p>Ingresa tu email y te mandaremos instrucciones para reestablecer tu contraseña.</p>

    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td colspan="2"> {{ form.email.errors }}   </td>
        </tr>
        <tr>
            <td>     <label for="id_email">Email</label>
</td>
            <td>        {{ form.email }}
</td>
        </tr>

        <tr>
            <td></td>
            <td>  <input type="submit" value="Recuperar" class="loginbutton col-12 my-2"></td>
        </tr>
    </table>
    <div class="form-row field-email my-5">

    </div>
    <div class="form-row field-email my-5">

    </div>
    <div class="form-row field-email my-5">

    </div>
    <div class="form-row field-email my-5">

    </div>
    <div class="form-row field-email my-5">

    </div>

</fieldset>
</form>
</div>
{% endblock %}
