{% extends 'core/base.html' %}
{% load static %}
{% load thumbnail %}
{% load swaptags %}

{% block content %}
    {% block title %}{% endblock %}
    <div class="row">
        {% for mix in object.mix_set.all|shuffle %}
            <a class="mix col-6 p-5" href="{{ mix.get_absolute_url }}">
                <div class="row">
                    <div class="col-4">
                        {% if mix.cover_image %}
                            <img src="{% thumbnail mix.cover_image '800x600' %}" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <small>{{ mix.user.mefi_handle }}</small><br>
                        <strong class="mb-5 mt-2">{{ mix.title }}</strong>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{#{% block comments %}#}
{#    {% include 'comments.html' %}#}
{#{% endblock %}#}
{% endblock %}
