{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load thumbnail %}
{% block endhead %}
<style>
body {
     color: {{ mix.tx_color }};
    background-color: {{ mix.bg_color }};
}

a {
         color: {{ mix.tx_color }};

}
button, input, textarea, .form-control {
        background-color: {{ mix.bg_color }};
    border-color: {{ mix.tx_color }} !important;

}

</style>
{% endblock %}
{% block content %}
    <small>{{ object.user.mefi_handle }}'s mix</small>
    <h1 class="mb-5 mt-2">{{ object.title }}</h1>
     {% if object.user == request.user and object.editable %}

            <i
                class="fa fa-pencil-alt"></i>You can <a href="{% url 'mixedit' pk=object.id %}">edit this </a>!

    {% endif %}
    {% if object.user.the_group %}
        <div class="col-12 mt-2">
            Group: <a href="{{ object.user.the_group.get_absolute_url }}">{{ object.user.the_group }}</a>
        </div>
    {% endif %}
    {% if object.user.platform %}
        <div class="col-12 mt-2">
            Platform: {{ object.user.platform }}
        </div>
    {% endif %}
    {% if object.tags.all %}
        <div class="col-12 mt-2 ">
            {% for tag in object.tags.all %}
                <a class="tag" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            {% endfor %}
        </div>

    {% endif %}
    {#    <p><a href="{{ object.link }}">Listen or download here.</a></p>#}
    {% if object.cover_image or object.back_image %}
        <div class="row">
            {% if object.cover_image %}
                <div class="col-12 my-3">
                    <img src="{% thumbnail object.cover_image '900x900' %}" class="img-fluid">
                </div>
            {% endif %}
            {% if object.back_image %}
                <div class="col-12 my-3">
                    <img src="{% thumbnail object.back_image '900x900' %}" class="img-fluid">
                </div>
            {% endif %}
        </div>
    {% endif %}
    <p>{{ object.text|safe }}</p>
    <p></p>

    {% include 'comments.html' %}
{% endblock %}

{% block endbody %}




{% endblock %}




{% block undertitle %}


{% endblock %}