{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load swaptags %}
{% block container %}
    <div class="container home">
        <div class="row">
            <div class="col-12 col-md-4 pt-5"><h1>MeFi<br>Music<br>Swap<br>2020<br></h1>
                <h1><i class="fas fa-compact-disc fa-spin"></i></h1>
                <ul class="menu">
                </ul>
                {% block undertitle %}{% endblock %}
                <div class="quote my-5">
                    <em>
                        <small> {% random_quote %}</small>
                    </em>
                </div>
            </div>
            <div class="col pt-5">


                <div class="row ">
                    <div class="col-12 mb-5">
                        <h2> Welcome {{ user.mefi_handle }}!
                        </h2>
                        {% if request.user.the_group %}
                            <li><a href="{{ request.user.the_group.get_absolute_url }}"><i
                                    class="fas fa-users fa-fw"></i>
                                Your group: {{ request.user.the_group }}</a></li>{% endif %}
                        {% if request.user.get_absolute_url %}
                            <li><a href="{{ request.user.get_absolute_url }}"><i class="fa fa-record-vinyl fa-fw"></i>
                                Your
                                mix</a></li>{% endif %}


                    </div>
                    {% if othergroups %}
                        <div class="col-12 my-5">
                            Other groups:
                            <ul>
                                {% for group in othergroups %}
                                    {% if group.mix_set.all %}
                                        <li><a href="{{ group.get_absolute_url }}"><i class="fas fa-users"></i>
                                            {{ group.title }}</a></li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    {% endif %}


                    <div class="col-12 my-5">
                        Latest comments:
                        {% for comment in comments %}
                            <div class="row border-bottom border-white  pt-2 pb-3" id="comment-{{ comment.id }}">
                                <div class="col-6" style="line-height: 1em">  <small>
                                        <em>{{ comment.user.mefi_handle }}</em> on <strong> <a href="{{ comment.content_object.get_absolute_url }}">
                                            {{ comment.content_object }}
                                        </a></strong></small><br>
                                  {{ comment.datetime|date:'F j, Y g:i A' }}</small>

                                </div>
                                <div class="col-6 ">
                                    <small>
                                    {{ comment.text|truncatechars:':140' }}
                                        </small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                      <div class="col-12 my-5">
                        {% if request.user.is_authenticated %}
                            <li><i class="fa fa-times-circle fa-fw"></i> <a href="{% url 'logout' %}"> Log out</a>
                            </li>{% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}